:root{
    --primary: #5cff97;
    --accent: #0a210f;
    --background-2: #14591d;
    --background-1: #acd2ed;
    --gentext:rgb(8, 17, 24);
}


header,
footer{
    background-color: var(--primary);
}

.heading{
    font-family: "Chewy", system-ui;
    font-weight: 400;
    font-size: 4rem;
    padding: 10px;
    margin-top: 0;
    color: var(--gentext);
    margin-bottom: 0;
}

main{
    font-family: "Ancizar Sans", sans-serif;
    font-weight: 300;
    background-color: var(--background-1);
    text-align: center;
    padding-top: 3rem;
    margin: 0 auto;
    width: 1000px;
}

main h2{
    margin-top: 0;
    color: var(--gentext);
    text-decoration: underline;
}

div{
    background-color: var(--background-2);
    padding: 5px;
    width: 900px;
    margin: 0 auto;
    color: white;
}

figure{
    background-color: var(--background-2);
    padding-top: 2rem;
    color: white;
}

figure img{
    border: var(--accent) solid 4px;
}

figure figcaption{
    padding: 5px;
    font-size: 1.5rem;
}

footer{
    text-align: center;
    margin: 0;
    font-family: "Ancizar Sans", sans-serif;
    color: var(--gentext);
}