* {
    box-sizing: border-box;
}

:root {
    --primary_color: #201E50;
    --tertiary_color: #FA7421;
    --alt_text_color: white;
}

body{
    font-family: "Spectral", "Roboto", serif;
    font-weight: 400;
}

nav{
    margin: 1rem auto;
}

#menu{
    font-size: 1.5rem;
    border: 0;
    color: #FA7421;
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
}

#menu::before{
    content: "☰";
}

#menu.open::before{
    content: "❌";
}

.navigation{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--primary_color);
    padding: 10px;
    
}

.navigation a{
    display: none;
    text-decoration: none;
    color: var(--alt_text_color);
    padding: 5px;
}

.navigation a:hover{
    background-color: white;
    color: black;
    text-decoration: underline;

}

.open a {
    display: block;
}

main{ 
    max-width: 800px;
    margin: 0 auto;
}

main h1{
    text-align: center;
}

.photos{
    display: grid;
    grid-template-columns: 1fr;
}


footer{
    text-align: center;
    background-color: var(--primary_color);
    color: var(--alt_text_color);
}