body{
      font-family: "Roboto", sans-serif;
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: solid 1px purple;
    padding: 1rem;
    background-color: lightblue;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section{
    background-color: rgb(209, 224, 238);
}

